body {
    background-color: hsl(0, 0%, 8%);
    display: grid;
    place-content: center;
    overflow: auto;
    padding-left: 2rem;
    padding-right: 2.5rem;
}

.card {
    background-color: hsl(0, 0%, 12%);
    min-width: 21.15rem;
    min-height: 38.9rem;
    margin-top: 6.25rem;
    margin-left: auto;
    align-items: center;
    border-radius: 1rem;
}

.container {
    width: 100%;
    height: 50%;
    align-content: center;
}

.bio {
    width: 100%;
    margin-top: 0.25rem;
}

.avatar {
    width: 28%;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 7.9rem;
}

h1 {
    color: hsl(0, 0%, 100%);
    margin-top: 2rem;
    margin-left: 4.7rem;
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

h2 {
    color: hsl(75, 94%, 57%);
    margin-top: 1rem;
    margin-left: 5rem;
    font-family: "Inter";
    font-size: 0.83rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

p {
    color: hsl(0, 0%, 100%);
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-family: "Inter";
    font-size: 0.86rem;
    font-weight: 400;
}

nav {
    width: 100%;
    align-items: center;
}

li {
    list-style-type: none;
    margin-bottom: 1.25rem;
    padding-top: 1.75rem;
}

.social-link {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    font-family: "Inter";
    font-size: 0.89rem;
    font-weight: 600;
    text-align: center;
    border-radius: 0.6rem;
    margin-left: -0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.github {
    padding-left: 7.4rem;
    padding-right: 7.4rem;    
}

.frontend-mentor {
    padding-left: 5.7rem;
    padding-right: 4.8rem;
}

.linkedin {
    padding-left: 7.2rem;
    padding-right: 7rem;
}

.twitter {
    padding-left: 7.5rem;
    padding-right: 7.3rem;
}

.instagram {
    padding-left: 7rem;
    padding-right: 6.5rem;
}

.social-link:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
    body {
        overflow: auto;
    }

    .card {
        width: 20.4rem;
        height: 40rem;
        margin-top: 11rem;
        margin-left: 6.8rem;
        margin-bottom: 10rem;
        padding-left: 0.2rem;
        padding-right: 2.7rem;
    }

    .container {
        margin-left: 2.2rem;
    }

    .avatar {
        width: 26%;
        margin-top: 2.3rem;
        margin-left: 6.9rem;
    }

    h1 {
        margin-top: 1.55rem;
        margin-left: 4.22rem;
        font-family: "Inter";
        font-size: 1.47rem;
        letter-spacing: 0.02rem;
    }

    h2 {
        margin-top: -0.25rem;
        margin-left: 4.6rem;
        font-family: "Inter";
        font-size: 0.85rem;
        letter-spacing: 0.02rem;
    }

    p {
        margin-top: 1.8rem;
        margin-left: 1.7rem;
        font-family: "Inter";
        font-size: 0.88rem;
    }

    nav {
        margin-top: 0.02rem;
    }

    .social-link {
        margin-left: -2.6rem;
        font-family: "Inter";
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }

    .github {
        padding-left: 8rem;
        padding-right: 8.5rem;
    }

    .frontend-mentor { 
        padding-left: 5.8rem;
        padding-right: 6.6rem;
    }

    .linkedin {
        padding-left: 7.5rem;
        padding-right: 8.5rem;
    }

    .twitter {
        padding-left: 7.8rem;
        padding-right: 8.8rem;
    }

    .instagram {
        padding-left: 7.4rem;
        padding-right: 7.9rem;
    }

    .social-link:hover {
        background-color: hsl(75, 94%, 57%);
        color: hsl(0, 0%, 8%);
    }
}